USE [master]
GO
/****** Object:  Database [LMS_DEV]    Script Date: 28-02-2026 14:17:18 ******/
CREATE DATABASE [LMS_DEV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LMS_DEV', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\LMS_DEV.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LMS_DEV_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\LMS_DEV_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LMS_DEV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LMS_DEV]
GO
/****** Object:  Table [dbo].[Ads]    Script Date: 28-02-2026 14:17:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ads](
	[AdId] [int] IDENTITY(1,1) NOT NULL,
	[LodgeId] [int] NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Link] [nvarchar](500) NULL,
	[ImageUrl] [nvarchar](500) NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AdId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeAttendance]    Script Date: 28-02-2026 14:17:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeAttendance](
	[AttendanceId] [int] IDENTITY(1,1) NOT NULL,
	[LodgeId] [int] NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[AttendanceDate] [date] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AttendanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 28-02-2026 14:17:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeId] [int] IDENTITY(1,1) NOT NULL,
	[LodgeId] [int] NOT NULL,
	[EmployeeCode] [nvarchar](50) NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[RoleId] [int] NOT NULL,
	[Salary] [decimal](18, 2) NULL,
	[JoinDate] [date] NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Floors]    Script Date: 28-02-2026 14:17:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Floors](
	[FloorId] [int] IDENTITY(1,1) NOT NULL,
	[LodgeId] [int] NOT NULL,
	[FloorName] [nvarchar](50) NULL,
	[FloorNumber] [int] NOT NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[FloorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HousekeepingTasks]    Script Date: 28-02-2026 14:17:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HousekeepingTasks](
	[TaskId] [int] IDENTITY(1,1) NOT NULL,
	[LodgeId] [int] NOT NULL,
	[RoomId] [int] NOT NULL,
	[AssignedTo] [int] NOT NULL,
	[Status] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NULL,
	[TaskDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TaskId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryItems]    Script Date: 28-02-2026 14:17:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryItems](
	[InventoryItemId] [int] IDENTITY(1,1) NOT NULL,
	[LodgeId] [int] NOT NULL,
	[ItemCode] [nvarchar](50) NOT NULL,
	[ItemName] [nvarchar](150) NOT NULL,
	[Category] [nvarchar](100) NULL,
	[UnitOfMeasure] [nvarchar](50) NULL,
	[ReorderLevel] [int] NULL,
	[CurrentStock] [int] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[InventoryItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryTransactions]    Script Date: 28-02-2026 14:17:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryTransactions](
	[TransactionId] [int] IDENTITY(1,1) NOT NULL,
	[LodgeId] [int] NOT NULL,
	[InventoryItemId] [int] NOT NULL,
	[VendorId] [int] NULL,
	[TransactionType] [nvarchar](50) NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NULL,
	[TransactionDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lodges]    Script Date: 28-02-2026 14:17:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lodges](
	[LodgeId] [int] IDENTITY(1,1) NOT NULL,
	[LodgeName] [nvarchar](200) NOT NULL,
	[RegistrationNumber] [nvarchar](100) NULL,
	[GSTNumber] [nvarchar](50) NULL,
	[AddressLine1] [nvarchar](200) NULL,
	[AddressLine2] [nvarchar](200) NULL,
	[City] [nvarchar](100) NULL,
	[State] [nvarchar](100) NULL,
	[Country] [nvarchar](100) NULL,
	[Pincode] [nvarchar](20) NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[Website] [nvarchar](150) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LodgeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 28-02-2026 14:17:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[NewsId] [int] IDENTITY(1,1) NOT NULL,
	[LodgeId] [int] NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[ImageUrl] [nvarchar](500) NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[NewsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 28-02-2026 14:17:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](300) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 28-02-2026 14:17:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[RoomId] [int] IDENTITY(1,1) NOT NULL,
	[LodgeId] [int] NOT NULL,
	[RoomNumber] [nvarchar](20) NOT NULL,
	[FloorId] [int] NOT NULL,
	[RoomType] [nvarchar](100) NULL,
	[Status] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 28-02-2026 14:17:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[LodgeId] [int] NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](500) NOT NULL,
	[IsActive] [bit] NULL,
	[LastLoginAt] [datetime] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vendors]    Script Date: 28-02-2026 14:17:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendors](
	[VendorId] [int] IDENTITY(1,1) NOT NULL,
	[LodgeId] [int] NOT NULL,
	[VendorName] [nvarchar](150) NOT NULL,
	[ContactPerson] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[GSTNumber] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[VendorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[EmployeeAttendance] ON 

INSERT [dbo].[EmployeeAttendance] ([AttendanceId], [LodgeId], [EmployeeId], [AttendanceDate], [Status]) VALUES (1, 1, 1, CAST(N'2026-02-22' AS Date), N'Absent')
INSERT [dbo].[EmployeeAttendance] ([AttendanceId], [LodgeId], [EmployeeId], [AttendanceDate], [Status]) VALUES (2, 1, 2, CAST(N'2026-02-22' AS Date), N'Present')
INSERT [dbo].[EmployeeAttendance] ([AttendanceId], [LodgeId], [EmployeeId], [AttendanceDate], [Status]) VALUES (3, 1, 3, CAST(N'2026-02-22' AS Date), N'Present')
SET IDENTITY_INSERT [dbo].[EmployeeAttendance] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmployeeId], [LodgeId], [EmployeeCode], [FirstName], [LastName], [Phone], [Email], [RoleId], [Salary], [JoinDate], [IsActive], [CreatedAt]) VALUES (1, 1, N'EMP1-1', N'Employee_1', NULL, NULL, NULL, 3, CAST(20187.00 AS Decimal(18, 2)), CAST(N'2026-02-22' AS Date), 1, CAST(N'2026-02-22T11:30:13.697' AS DateTime))
INSERT [dbo].[Employees] ([EmployeeId], [LodgeId], [EmployeeCode], [FirstName], [LastName], [Phone], [Email], [RoleId], [Salary], [JoinDate], [IsActive], [CreatedAt]) VALUES (2, 1, N'EMP1-2', N'Employee_2', NULL, NULL, NULL, 3, CAST(23539.00 AS Decimal(18, 2)), CAST(N'2026-02-22' AS Date), 1, CAST(N'2026-02-22T11:30:13.697' AS DateTime))
INSERT [dbo].[Employees] ([EmployeeId], [LodgeId], [EmployeeCode], [FirstName], [LastName], [Phone], [Email], [RoleId], [Salary], [JoinDate], [IsActive], [CreatedAt]) VALUES (3, 1, N'EMP1-3', N'Employee_3', NULL, NULL, NULL, 3, CAST(25044.00 AS Decimal(18, 2)), CAST(N'2026-02-22' AS Date), 1, CAST(N'2026-02-22T11:30:13.697' AS DateTime))
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[Floors] ON 

INSERT [dbo].[Floors] ([FloorId], [LodgeId], [FloorName], [FloorNumber], [IsActive]) VALUES (1, 1, N'Floor 1', 1, 1)
INSERT [dbo].[Floors] ([FloorId], [LodgeId], [FloorName], [FloorNumber], [IsActive]) VALUES (2, 1, N'Floor 2', 2, 1)
INSERT [dbo].[Floors] ([FloorId], [LodgeId], [FloorName], [FloorNumber], [IsActive]) VALUES (3, 1, N'Floor 3', 3, 1)
SET IDENTITY_INSERT [dbo].[Floors] OFF
GO
SET IDENTITY_INSERT [dbo].[HousekeepingTasks] ON 

INSERT [dbo].[HousekeepingTasks] ([TaskId], [LodgeId], [RoomId], [AssignedTo], [Status], [CreatedAt], [TaskDate]) VALUES (1, 1, 1, 7, N'Pending', NULL, CAST(N'2026-02-22' AS Date))
INSERT [dbo].[HousekeepingTasks] ([TaskId], [LodgeId], [RoomId], [AssignedTo], [Status], [CreatedAt], [TaskDate]) VALUES (2, 1, 2, 7, N'Pending', NULL, CAST(N'2026-02-22' AS Date))
INSERT [dbo].[HousekeepingTasks] ([TaskId], [LodgeId], [RoomId], [AssignedTo], [Status], [CreatedAt], [TaskDate]) VALUES (3, 1, 3, 7, N'Pending', NULL, CAST(N'2026-02-22' AS Date))
SET IDENTITY_INSERT [dbo].[HousekeepingTasks] OFF
GO
SET IDENTITY_INSERT [dbo].[InventoryItems] ON 

INSERT [dbo].[InventoryItems] ([InventoryItemId], [LodgeId], [ItemCode], [ItemName], [Category], [UnitOfMeasure], [ReorderLevel], [CurrentStock], [CreatedAt]) VALUES (1, 1, N'BED001', N'Bed Sheet', N'Linen', N'Nos', 50, 200, CAST(N'2026-02-22T11:30:13.700' AS DateTime))
INSERT [dbo].[InventoryItems] ([InventoryItemId], [LodgeId], [ItemCode], [ItemName], [Category], [UnitOfMeasure], [ReorderLevel], [CurrentStock], [CreatedAt]) VALUES (2, 1, N'PIL001', N'Pillow Cover', N'Linen', N'Nos', 50, 200, CAST(N'2026-02-22T11:30:13.700' AS DateTime))
INSERT [dbo].[InventoryItems] ([InventoryItemId], [LodgeId], [ItemCode], [ItemName], [Category], [UnitOfMeasure], [ReorderLevel], [CurrentStock], [CreatedAt]) VALUES (3, 1, N'TOW001', N'Bath Towel', N'Linen', N'Nos', 40, 150, CAST(N'2026-02-22T11:30:13.700' AS DateTime))
SET IDENTITY_INSERT [dbo].[InventoryItems] OFF
GO
SET IDENTITY_INSERT [dbo].[InventoryTransactions] ON 

INSERT [dbo].[InventoryTransactions] ([TransactionId], [LodgeId], [InventoryItemId], [VendorId], [TransactionType], [Quantity], [UnitPrice], [TransactionDate], [CreatedBy]) VALUES (1, 1, 1, 1, N'PURCHASE', 50, CAST(100.00 AS Decimal(18, 2)), CAST(N'2026-02-22T11:30:13.737' AS DateTime), NULL)
INSERT [dbo].[InventoryTransactions] ([TransactionId], [LodgeId], [InventoryItemId], [VendorId], [TransactionType], [Quantity], [UnitPrice], [TransactionDate], [CreatedBy]) VALUES (2, 1, 2, 1, N'PURCHASE', 50, CAST(100.00 AS Decimal(18, 2)), CAST(N'2026-02-22T11:30:13.737' AS DateTime), NULL)
INSERT [dbo].[InventoryTransactions] ([TransactionId], [LodgeId], [InventoryItemId], [VendorId], [TransactionType], [Quantity], [UnitPrice], [TransactionDate], [CreatedBy]) VALUES (3, 1, 3, 1, N'PURCHASE', 50, CAST(100.00 AS Decimal(18, 2)), CAST(N'2026-02-22T11:30:13.737' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[InventoryTransactions] OFF
GO
SET IDENTITY_INSERT [dbo].[Lodges] ON 

INSERT [dbo].[Lodges] ([LodgeId], [LodgeName], [RegistrationNumber], [GSTNumber], [AddressLine1], [AddressLine2], [City], [State], [Country], [Pincode], [Phone], [Email], [Website], [IsActive], [CreatedAt]) VALUES (1, N'Royal Grand Lodge', NULL, NULL, NULL, NULL, N'Bangalore', N'Karnataka', N'India', NULL, N'0801111111', NULL, NULL, 1, CAST(N'2026-02-22T11:30:13.063' AS DateTime))
INSERT [dbo].[Lodges] ([LodgeId], [LodgeName], [RegistrationNumber], [GSTNumber], [AddressLine1], [AddressLine2], [City], [State], [Country], [Pincode], [Phone], [Email], [Website], [IsActive], [CreatedAt]) VALUES (2, N'Sunrise Residency', NULL, NULL, NULL, NULL, N'Mysore', N'Karnataka', N'India', NULL, N'0802222222', NULL, NULL, 1, CAST(N'2026-02-22T11:30:13.063' AS DateTime))
INSERT [dbo].[Lodges] ([LodgeId], [LodgeName], [RegistrationNumber], [GSTNumber], [AddressLine1], [AddressLine2], [City], [State], [Country], [Pincode], [Phone], [Email], [Website], [IsActive], [CreatedAt]) VALUES (3, N'Hill View Stay', NULL, NULL, NULL, NULL, N'Ooty', N'Tamil Nadu', N'India', NULL, N'0803333333', NULL, NULL, 1, CAST(N'2026-02-22T11:30:13.063' AS DateTime))
SET IDENTITY_INSERT [dbo].[Lodges] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [RoleName], [Description], [CreatedAt]) VALUES (1, N'Admin', NULL, CAST(N'2026-02-22T11:30:13.067' AS DateTime))
INSERT [dbo].[Roles] ([RoleId], [RoleName], [Description], [CreatedAt]) VALUES (2, N'Manager', NULL, CAST(N'2026-02-22T11:30:13.067' AS DateTime))
INSERT [dbo].[Roles] ([RoleId], [RoleName], [Description], [CreatedAt]) VALUES (3, N'Receptionist', NULL, CAST(N'2026-02-22T11:30:13.067' AS DateTime))
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Rooms] ON 

INSERT [dbo].[Rooms] ([RoomId], [LodgeId], [RoomNumber], [FloorId], [RoomType], [Status], [CreatedAt]) VALUES (1, 1, N'1-01', 1, N'Standard', N'Available', CAST(N'2026-02-22T11:30:13.080' AS DateTime))
INSERT [dbo].[Rooms] ([RoomId], [LodgeId], [RoomNumber], [FloorId], [RoomType], [Status], [CreatedAt]) VALUES (2, 1, N'1-02', 1, N'Standard', N'Available', CAST(N'2026-02-22T11:30:13.667' AS DateTime))
INSERT [dbo].[Rooms] ([RoomId], [LodgeId], [RoomNumber], [FloorId], [RoomType], [Status], [CreatedAt]) VALUES (3, 1, N'1-03', 1, N'Standard', N'Available', CAST(N'2026-02-22T11:30:13.670' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Rooms] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [LodgeId], [EmployeeId], [Username], [PasswordHash], [IsActive], [LastLoginAt], [CreatedAt]) VALUES (1, 1, 1, N'user_1', N'$2b$10$8IwwAfmKf6dVIzZwYh2cXuQlRo4NclyCkmjvarPrixru5f4zGTnhe', 1, CAST(N'2026-02-22T13:35:13.110' AS DateTime), CAST(N'2026-02-22T12:43:11.730' AS DateTime))
INSERT [dbo].[Users] ([UserId], [LodgeId], [EmployeeId], [Username], [PasswordHash], [IsActive], [LastLoginAt], [CreatedAt]) VALUES (2, 1, 2, N'user_2', N'$2b$10$8IwwAfmKf6dVIzZwYh2cXuQlRo4NclyCkmjvarPrixru5f4zGTnhe', 1, CAST(N'2026-02-22T19:47:07.110' AS DateTime), CAST(N'2026-02-22T12:43:11.730' AS DateTime))
INSERT [dbo].[Users] ([UserId], [LodgeId], [EmployeeId], [Username], [PasswordHash], [IsActive], [LastLoginAt], [CreatedAt]) VALUES (3, 1, 3, N'user_3', N'$2b$10$8IwwAfmKf6dVIzZwYh2cXuQlRo4NclyCkmjvarPrixru5f4zGTnhe', 1, NULL, CAST(N'2026-02-22T12:43:11.730' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Vendors] ON 

INSERT [dbo].[Vendors] ([VendorId], [LodgeId], [VendorName], [ContactPerson], [Phone], [Email], [GSTNumber]) VALUES (1, 1, N'ABC Traders', NULL, N'9000000001', NULL, NULL)
INSERT [dbo].[Vendors] ([VendorId], [LodgeId], [VendorName], [ContactPerson], [Phone], [Email], [GSTNumber]) VALUES (2, 1, N'CleanCare Supplies', NULL, N'9000000002', NULL, NULL)
INSERT [dbo].[Vendors] ([VendorId], [LodgeId], [VendorName], [ContactPerson], [Phone], [Email], [GSTNumber]) VALUES (3, 2, N'ABC Traders', NULL, N'9000000001', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Vendors] OFF
GO
/****** Object:  Index [IX_Ads_LodgeId]    Script Date: 28-02-2026 14:17:19 ******/
CREATE NONCLUSTERED INDEX [IX_Ads_LodgeId] ON [dbo].[Ads]
(
	[LodgeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Attendance_LodgeId]    Script Date: 28-02-2026 14:17:19 ******/
CREATE NONCLUSTERED INDEX [IX_Attendance_LodgeId] ON [dbo].[EmployeeAttendance]
(
	[LodgeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Employees_LodgeId]    Script Date: 28-02-2026 14:17:19 ******/
CREATE NONCLUSTERED INDEX [IX_Employees_LodgeId] ON [dbo].[Employees]
(
	[LodgeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Housekeeping_LodgeId]    Script Date: 28-02-2026 14:17:19 ******/
CREATE NONCLUSTERED INDEX [IX_Housekeeping_LodgeId] ON [dbo].[HousekeepingTasks]
(
	[LodgeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InventoryItems_LodgeId]    Script Date: 28-02-2026 14:17:19 ******/
CREATE NONCLUSTERED INDEX [IX_InventoryItems_LodgeId] ON [dbo].[InventoryItems]
(
	[LodgeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InventoryTransactions_LodgeId]    Script Date: 28-02-2026 14:17:19 ******/
CREATE NONCLUSTERED INDEX [IX_InventoryTransactions_LodgeId] ON [dbo].[InventoryTransactions]
(
	[LodgeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_News_LodgeId]    Script Date: 28-02-2026 14:17:19 ******/
CREATE NONCLUSTERED INDEX [IX_News_LodgeId] ON [dbo].[News]
(
	[LodgeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__8A2B61609424D6CC]    Script Date: 28-02-2026 14:17:19 ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Rooms_LodgeId]    Script Date: 28-02-2026 14:17:19 ******/
CREATE NONCLUSTERED INDEX [IX_Rooms_LodgeId] ON [dbo].[Rooms]
(
	[LodgeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4F45E7406]    Script Date: 28-02-2026 14:17:19 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ads] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Floors] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[HousekeepingTasks] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[HousekeepingTasks] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[HousekeepingTasks] ADD  DEFAULT (CONVERT([date],getdate())) FOR [TaskDate]
GO
ALTER TABLE [dbo].[InventoryItems] ADD  DEFAULT ((0)) FOR [ReorderLevel]
GO
ALTER TABLE [dbo].[InventoryItems] ADD  DEFAULT ((0)) FOR [CurrentStock]
GO
ALTER TABLE [dbo].[InventoryItems] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[InventoryTransactions] ADD  DEFAULT (getdate()) FOR [TransactionDate]
GO
ALTER TABLE [dbo].[Lodges] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Lodges] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[News] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT ('Available') FOR [Status]
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Ads]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Employees] ([EmployeeId])
GO
ALTER TABLE [dbo].[Ads]  WITH CHECK ADD FOREIGN KEY([LodgeId])
REFERENCES [dbo].[Lodges] ([LodgeId])
GO
ALTER TABLE [dbo].[EmployeeAttendance]  WITH CHECK ADD FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([EmployeeId])
GO
ALTER TABLE [dbo].[EmployeeAttendance]  WITH CHECK ADD FOREIGN KEY([LodgeId])
REFERENCES [dbo].[Lodges] ([LodgeId])
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD FOREIGN KEY([LodgeId])
REFERENCES [dbo].[Lodges] ([LodgeId])
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[Floors]  WITH CHECK ADD FOREIGN KEY([LodgeId])
REFERENCES [dbo].[Lodges] ([LodgeId])
GO
ALTER TABLE [dbo].[HousekeepingTasks]  WITH CHECK ADD FOREIGN KEY([AssignedTo])
REFERENCES [dbo].[Employees] ([EmployeeId])
GO
ALTER TABLE [dbo].[HousekeepingTasks]  WITH CHECK ADD FOREIGN KEY([LodgeId])
REFERENCES [dbo].[Lodges] ([LodgeId])
GO
ALTER TABLE [dbo].[HousekeepingTasks]  WITH CHECK ADD FOREIGN KEY([RoomId])
REFERENCES [dbo].[Rooms] ([RoomId])
GO
ALTER TABLE [dbo].[InventoryItems]  WITH CHECK ADD FOREIGN KEY([LodgeId])
REFERENCES [dbo].[Lodges] ([LodgeId])
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Employees] ([EmployeeId])
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD FOREIGN KEY([InventoryItemId])
REFERENCES [dbo].[InventoryItems] ([InventoryItemId])
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD FOREIGN KEY([LodgeId])
REFERENCES [dbo].[Lodges] ([LodgeId])
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD FOREIGN KEY([VendorId])
REFERENCES [dbo].[Vendors] ([VendorId])
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Employees] ([EmployeeId])
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD FOREIGN KEY([LodgeId])
REFERENCES [dbo].[Lodges] ([LodgeId])
GO
ALTER TABLE [dbo].[Rooms]  WITH CHECK ADD FOREIGN KEY([FloorId])
REFERENCES [dbo].[Floors] ([FloorId])
GO
ALTER TABLE [dbo].[Rooms]  WITH CHECK ADD FOREIGN KEY([LodgeId])
REFERENCES [dbo].[Lodges] ([LodgeId])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([EmployeeId])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([LodgeId])
REFERENCES [dbo].[Lodges] ([LodgeId])
GO
ALTER TABLE [dbo].[Vendors]  WITH CHECK ADD FOREIGN KEY([LodgeId])
REFERENCES [dbo].[Lodges] ([LodgeId])
GO
ALTER TABLE [dbo].[EmployeeAttendance]  WITH CHECK ADD  CONSTRAINT [CK_AttendanceStatus] CHECK  (([Status]='HalfDay' OR [Status]='Leave' OR [Status]='Absent' OR [Status]='Present'))
GO
ALTER TABLE [dbo].[EmployeeAttendance] CHECK CONSTRAINT [CK_AttendanceStatus]
GO
ALTER TABLE [dbo].[HousekeepingTasks]  WITH CHECK ADD  CONSTRAINT [CK_TaskStatus] CHECK  (([Status]='Completed' OR [Status]='In Progress' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[HousekeepingTasks] CHECK CONSTRAINT [CK_TaskStatus]
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD  CONSTRAINT [CK_TransactionType] CHECK  (([TransactionType]='ADJUSTMENT' OR [TransactionType]='DAMAGE' OR [TransactionType]='ISSUE' OR [TransactionType]='PURCHASE'))
GO
ALTER TABLE [dbo].[InventoryTransactions] CHECK CONSTRAINT [CK_TransactionType]
GO
ALTER TABLE [dbo].[Rooms]  WITH CHECK ADD  CONSTRAINT [CK_RoomStatus] CHECK  (([Status]='Maintenance' OR [Status]='Cleaning' OR [Status]='Occupied' OR [Status]='Available'))
GO
ALTER TABLE [dbo].[Rooms] CHECK CONSTRAINT [CK_RoomStatus]
GO
USE [master]
GO
